@model Albertlund_Hjemmepleje.Models.Entities.Person

@{
    ViewBag.Title = "ForgottenPassword";
}

<h2>Glemt password?</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <div class="form-group">
            @Html.LabelFor(model => model.email, "Indtast e-mail", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

}
        
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
}